* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Nexa-Trial", sans-serif;
  font-size: 18px;
  background-color: #1b1b1b;
}

.canvas-container {
  /* display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border: 2px solid black; */
  background-color: white;
}

canvas {
  position: absolute;
  background-color: transparent;
}
